# Скопируй этот файл в .env и подставь IP своего компьютера в локальной сети,
# на котором запущен json-server (npm run api).
# Узнать IP: Windows - `ipconfig`, macOS/Linux - `ifconfig` (искать inet 192.168.x.x).
EXPO_PUBLIC_API_URL=http://1.1.0.1:3001
